html {
	background-image: url("imagenes/gplaypattern.png");
	font-family: 'Montserrat';

}

body {
	
	background-color: white;
	width: 960px;
	margin: 150px auto 0 auto;
	display: table;
}

section {
	margin-left: 5px;
}

table{
	text-align: left;
}

table, tr, td {
	padding-left: 10px;
}

table, th {
	padding-top: 0px;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 300;

}

h2 {
	text-transform: uppercase;
	color: #ef553d;
}

a{
	text-decoration: none;
}



/* Estilo columnas */

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
	box-sizing: border-box;
	padding: 5px;
	float: left;
}

.col-md-1{
	width: 8.33%;
}

.col-md-2{
	width: 16.66%;
}

.col-md-3{
	width: 24.99%;
}

.col-md-4{
	width: 33.33%;
}

.col-md-5{
	width: 41.66%;
}

.col-md-6{
	width: 49.99%;
}

.col-md-7{
	width: 58.33%;
}

.col-md-8{
	width: 66.66%;
}

.col-md-9{
	width: 74.99%;
}

.col-md-10{
	width: 83.33%;
}

.col-md-11{
	width: 91.66%;
}

.col-md-12{
	width: 99.99%
}

/* Grillas Offset */

.col-offset-1{
	margin-left: 8.33%;
}

.col-offset-2{
	margin-left: 16.66%;
}

.col-offset-3{
	margin-left: 24.99%;
}

.col-offset-4{
	margin-left: 33.33%;
}

.col-offset-5{
	margin-left: 41.66%;
}

.col-offset-6{
	margin-left: 49.99%;
}

.col-offset-7{
	margin-left: 58.33%;
}

.col-offset-8{
	margin-left: 66.66%;
}

.col-offset-9{
	margin-left: 74.99%;
}

.col-offset-10{
	margin-left: 83.33%;
}

.col-offset-11{
	margin-left: 91.66%;
}

.col-offset-12{
	margin-left: 99.99%
}

/* Aquí comienzan los estilos*/




/* header */
#avatar {
	border: 5px solid #ededed;
	border-radius: 50%;
	width: 20%;
	position: relative;
	margin-left: 40%;
	margin-top: -80px;
}

.linea {
	width: 99%;
	height: 2px;
	background-color: #ededed;
	position: relative;
	margin-left: 0.5%;
}

/* section  Skills*/

.skills {
	background-color: #ef553d;
	padding: 3px 0 3px 3px;
	margin-top: 3px;
	margin-bottom: 3px;
	clear: left;
	position: relative;
	color: white;
	text-transform:uppercase;
	font-weight: 500px;
	font-size: 12px;
}	

/* section  Skills problemas con el margen superior del título*/

.idiomas {
	clear: left;
	width: 100%;
}
.idiomas table tr td ul li{
	display: inline-block;
}	

.idiomas img{
	width: 	20px;
}

/* section hobbys */

.hobby ul li {
	list-style: none;
	padding: 10px;
	border: 1px solid red;
	border-radius: 7px;
	display: inline-block;
	margin-bottom: 5px;

}

.hobby ul{
	padding-left: 0px;
}